nodered/flows_Dave-Laptop.json
[{"id":"5f7389a8.973258","type":"tab","label":"User requests","disabled":false,"info":"Flow for handling independent user requests and responses.\n\n# Request Types\n - **0:** Find rooms with specific parameters\n - **1:** Query if specific room is available in a given time frame\n - **2:** Reserves a room at a given time\n\n\n# JSON Formats\n//Find\n{\n  \"RequestType\": 0,\n  \"Params\": {\n    \"Seats\": 20,\n    \"Projector\": 0,\n    \"Secret\": 1,\n    \"Video\": 0,\n    \"Whiteboard\": 1,\n    \"Smartboard\": 0,\n    \"Sector\": \"A\"\n  },\n  \"Times\": {\n    \"Start\": 123456789,\n    \"End\": 123456789\n    }\n}\n\n//Query room\n{\n  \"RequestType\": 1,\n  \"RoomID\": 8,\n  \"Times\": {\n    \"Start\": 123456789,\n    \"End\": 123456789\n  }\n}\n\n//Reserve room\n{\n  \"RequestType\": 2,\n  \"RoomID\": 8,\n  \"Times\": {\n    \"Start\": 123456789,\n    \"End\": 123456789\n  }\n}\n\n//Add participant\n{\n  \"RequestType\": 3,\n  \"ReserveID\": 2,\n  \"Participant\": \"joe\"\n}\n"},{"id":"959bd99c.c9dc58","type":"sqlitedb","z":"","db":"/home/dave/Documents/JunctionX/JunctionX_databases/Rooms.db","mode":"RW"},{"id":"249114f7.7ae05c","type":"mqtt-broker","z":"","name":"Local","broker":"localhost","port":"1883","clientid":"Server","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a44aad3e.55404","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1febd53d.8253ab","type":"mqtt in","z":"5f7389a8.973258","name":"User request","topic":"users/+/request","qos":"0","datatype":"auto","broker":"249114f7.7ae05c","x":170,"y":280,"wires":[["cfe8d431.49d0d8"]]},{"id":"cfe8d431.49d0d8","type":"json","z":"5f7389a8.973258","name":"Convert","property":"payload","action":"","pretty":false,"x":380,"y":280,"wires":[["4e5b3e21.e45e5"]]},{"id":"4e5b3e21.e45e5","type":"switch","z":"5f7389a8.973258","name":"Request type","property":"payload.RequestType","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"false","repair":false,"outputs":4,"x":580,"y":280,"wires":[["2c82bc20.50663c"],["670313ca.2249c4"],["e71c2a12.a53ba"],["480e62d6.3b9b9c"]]},{"id":"2c82bc20.50663c","type":"function","z":"5f7389a8.973258","name":"Find","func":"let params = msg.payload.Params;\nlet times = msg.payload.Times;\n\nlet query = \"SELECT Rooms.ID FROM Rooms LEFT JOIN Reservations on Reservations.room_ID = Rooms.ID WHERE seats >= \";\n\nquery += params.Seats;\n\nquery += \" AND sector = '\";\nquery += params.Sector;\nquery += \"'\";\n\nquery += \" AND (\";\nquery += times.End;\nquery += \" < res_START OR \";\nquery += times.Start;\nquery += \" > res_END OR (res_START IS NULL OR res_END IS NULL))\";\n\nif(params.Projector == 1){\n    query += \" AND projector = 1\";\n}\n\nif(params.Secret == 1){\n    query += \" AND secret = 1\";\n}\n\nif(params.Video == 1){\n    query += \" AND video = 1\";\n}\n\nif(params.Whiteboard == 1){\n    query += \" AND whiteboard = 1\";\n}\n\nif(params.Smartboard == 1){\n    query += \" AND smartboard = 1\";\n}\n\nquery += \" AND sector = '\";\nquery += params.Sector;\nquery += \"'\";\nquery += \" ORDER BY seats ASC\";\n\nlet obj = {\n  topic: query,\n  id: msg.topic,\n  Params: params,\n  Times: times,\n  Payload: msg.payload\n};\n\nreturn obj;","outputs":1,"noerr":0,"x":810,"y":180,"wires":[["68dddc0.58f0a24","cc8a0d10.dd3dc"]]},{"id":"68dddc0.58f0a24","type":"sqlite","z":"5f7389a8.973258","mydb":"959bd99c.c9dc58","sqlquery":"msg.topic","sql":"","name":"SQL","x":990,"y":180,"wires":[["9baa70ce.2ce0e"]]},{"id":"9c535557.b8def8","type":"debug","z":"5f7389a8.973258","name":"Find response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2100,"y":100,"wires":[]},{"id":"bbcf5b7e.d91a78","type":"mqtt out","z":"5f7389a8.973258","name":"User response","topic":"","qos":"0","retain":"false","broker":"249114f7.7ae05c","x":2120,"y":300,"wires":[]},{"id":"670313ca.2249c4","type":"function","z":"5f7389a8.973258","name":"Query","func":"let roomID = msg.payload.RoomID;\nvar times = msg.payload.Times;\n\nlet query = \"SELECT res_START, res_END \";\nquery += \"FROM Reservations WHERE \";\nquery += \"res_START >= \";\nquery += times.Start;\nquery += \" AND \";\nquery += \"res_END <= \";\nquery += times.End;\nquery += \" AND room_ID = \";\nquery += roomID;\n\nlet obj = {\n    topic: query,\n    id: msg.topic\n}\n\nreturn obj;","outputs":1,"noerr":0,"x":810,"y":280,"wires":[["182c5ec8.c85aa1"]]},{"id":"e71c2a12.a53ba","type":"function","z":"5f7389a8.973258","name":"Check","func":"let times = msg.payload.Times;\nlet query = \"SELECT Reservations.room_ID from Reservations WHERE ((\";\nquery += times.Start;\nquery += \" <= res_START AND \";\nquery += times.End;\nquery += \" >= res_END) OR ( \";\nquery += times.Start;\nquery += \" >= res_START AND \";\nquery += times.End;\nquery += \" <= res_END) OR ( \";\nquery += times.Start;\nquery += \" <= res_START AND \";\nquery += times.End;\nquery += \" >= res_START) OR ( \";\nquery += times.Start;\nquery += \" <= res_END AND \";\nquery += times.End;\nquery += \" >= res_END)) AND room_ID = \";\n\nquery += msg.payload.RoomID;\n\nlet obj = {\n  topic: query,\n  id: msg.topic,\n  timeStart: times.Start,\n  timeEnd: times.End,\n  roomID: msg.payload.RoomID\n};\n\nreturn obj;","outputs":1,"noerr":0,"x":810,"y":380,"wires":[["43018caa.856244"]]},{"id":"43018caa.856244","type":"sqlite","z":"5f7389a8.973258","mydb":"959bd99c.c9dc58","sqlquery":"msg.topic","sql":"","name":"SQL","x":990,"y":380,"wires":[["fa68ad9f.08fd48"]]},{"id":"2d47f2e8.9a0266","type":"debug","z":"5f7389a8.973258","name":"Reserve response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1530,"y":320,"wires":[]},{"id":"fa68ad9f.08fd48","type":"function","z":"5f7389a8.973258","name":"Reserve","func":"if(msg.payload.length == 0){\n    msg.success = true;\n    \n    var query = \"INSERT INTO Reservations(room_ID, user_ID, participant_NUM, res_DATE, res_START, res_END)\";\n    query += \" VALUES(\";\n    query += msg.roomID;\n    query += \",'\";\n    query += msg.id.substring(6, msg.id.indexOf(\"/request\"));\n    query += \"',1,\";\n    query += Math.floor(Date.now() / 1000);\n    query += \",\";\n    query += msg.timeStart;\n    query += \",\";\n    query += msg.timeEnd;\n    query += \")\";\n    \n    msg.topic = query;\n    \n}else{\n    msg.success = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":380,"wires":[["d9f34b23.e72898"]]},{"id":"d9f34b23.e72898","type":"sqlite","z":"5f7389a8.973258","mydb":"959bd99c.c9dc58","sqlquery":"msg.topic","sql":"","name":"SQL","x":1330,"y":380,"wires":[["2d47f2e8.9a0266","5d547c03.b8ee2c"]]},{"id":"5d547c03.b8ee2c","type":"function","z":"5f7389a8.973258","name":"Build output","func":"let obj = {\n    topic: \"users/\" + msg.id.substring(6, msg.id.indexOf(\"/request\")) + \"/response\",\n    payload: msg.success\n}\n\nreturn obj;","outputs":1,"noerr":0,"x":1510,"y":380,"wires":[["bbcf5b7e.d91a78"]]},{"id":"182c5ec8.c85aa1","type":"sqlite","z":"5f7389a8.973258","mydb":"959bd99c.c9dc58","sqlquery":"msg.topic","sql":"","name":"SQL","x":990,"y":280,"wires":[["1cfb8228.06088e"]]},{"id":"1cfb8228.06088e","type":"function","z":"5f7389a8.973258","name":"Output","func":"msg.topic = \"users/\" + msg.id.substring(6, msg.id.indexOf(\"/request\")) + \"/response\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":280,"wires":[["8e025e07.fc2fe","bbcf5b7e.d91a78"]]},{"id":"8e025e07.fc2fe","type":"debug","z":"5f7389a8.973258","name":"Query response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1320,"y":240,"wires":[]},{"id":"480e62d6.3b9b9c","type":"function","z":"5f7389a8.973258","name":"Participants Query","func":"var resID = msg.payload.ReserveID;\nvar participant = msg.payload.Participant;\n\nvar query = \"SELECT ID FROM Participants \";\nquery += \"WHERE participant_NAME = '\";\nquery += participant;\nquery += \"' AND res_ID = \";\nquery += resID;\n\nvar obj = {\n    topic: query,\n    msg_topic: msg.topic,\n    ResID: resID,\n    Participant: participant\n}\n\nreturn obj;","outputs":1,"noerr":0,"x":850,"y":480,"wires":[["cb01ad34.dc7e4"]]},{"id":"6a513ceb.1738f4","type":"debug","z":"5f7389a8.973258","name":"CheckData","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1570,"y":100,"wires":[]},{"id":"9baa70ce.2ce0e","type":"function","z":"5f7389a8.973258","name":"CheckNeighbours","func":"let params = msg.Params;\nlet times = msg.Times;\n\nif (msg.payload.length == 0) {\n    // get sector param charcode\n    let sectorCharCode = params.Sector.charCodeAt();\n    \n    let query = \"SELECT Rooms.ID FROM Rooms LEFT JOIN Reservations on Reservations.room_ID = Rooms.ID WHERE seats >= \";\n    \n    query += params.Seats;\n    \n    query += \" AND (\";\n    query += times.End;\n    query += \" < res_START OR \";\n    query += times.Start;\n    query += \" > res_END OR (res_START IS NULL OR res_END IS NULL))\";\n    \n    if(params.Projector == 1){\n        query += \" AND projector = 1\";\n    }\n    \n    if(params.Secret == 1){\n        query += \" AND secret = 1\";\n    }\n    \n    if(params.Video == 1){\n        query += \" AND video = 1\";\n    }\n    \n    if(params.Whiteboard == 1){\n        query += \" AND whiteboard = 1\";\n    }\n    \n    if(params.Smartboard == 1){\n        query += \" AND smartboard = 1\";\n    }\n    \n    query += \" AND (sector = '\";\n    // compare char +1 (and -1) to sector\n    query += String.fromCharCode(sectorCharCode + 1);\n    query += \"' OR sector = '\";\n    query += String.fromCharCode(sectorCharCode - 1);\n    query += \"') \";\n    query += \" ORDER BY seats ASC\";\n    \n    let obj = {\n      topic: query,\n      id: msg.id,\n      Params: params,\n      Times: times,\n      Found: false\n    };\n    \n    return obj;\n    \n}\nelse {\n    let output = {\n    topic: \"SELECT ID FROM ROOMS WHERE ID = 1\",\n    id: msg.id,\n    out: msg.payload[0],\n    Found: true\n    }\n    \n    return output;\n}","outputs":1,"noerr":0,"x":1190,"y":180,"wires":[["4787c042.f9a99","cc8a0d10.dd3dc"]]},{"id":"4787c042.f9a99","type":"sqlite","z":"5f7389a8.973258","mydb":"959bd99c.c9dc58","sqlquery":"msg.topic","sql":"","name":"SQL","x":1370,"y":180,"wires":[["3e8efd01.72a202","6a513ceb.1738f4"]]},{"id":"3e8efd01.72a202","type":"function","z":"5f7389a8.973258","name":"CheckEverywhere","func":"let params = msg.Params;\nlet times = msg.Times;\n\nif (msg.Found == false) {\n    // get sector param charcode\n    let sectorCharCode = params.Sector.charCodeAt();\n    \n    let query = \"SELECT Rooms.ID FROM Rooms LEFT JOIN Reservations on Reservations.room_ID = Rooms.ID WHERE seats >= \";\n    \n    query += params.Seats;\n    \n    query += \" AND (\";\n    query += times.End;\n    query += \" < res_START OR \";\n    query += times.Start;\n    query += \" > res_END OR (res_START IS NULL OR res_END IS NULL))\";\n    \n    if(params.Projector == 1){\n        query += \" AND projector = 1\";\n    }\n    \n    if(params.Secret == 1){\n        query += \" AND secret = 1\";\n    }\n    \n    if(params.Video == 1){\n        query += \" AND video = 1\";\n    }\n    \n    if(params.Whiteboard == 1){\n        query += \" AND whiteboard = 1\";\n    }\n    \n    if(params.Smartboard == 1){\n        query += \" AND smartboard = 1\";\n    }\n\n    query += \" ORDER BY seats ASC\";\n    \n    let obj = {\n      topic: query,\n      id: msg.id,\n      Params: params,\n      Times: times,\n      checkedEverywhere: true\n    };\n    \n    return obj;\n    \n}\nelse {\n    let output = {\n    topic: \"SELECT ID FROM ROOMS WHERE ID = 1\",\n    id: msg.id,\n    out: msg.out\n    }\n    \n    return output;\n}","outputs":1,"noerr":0,"x":1550,"y":180,"wires":[["a1480568.1595f8"]]},{"id":"a1480568.1595f8","type":"sqlite","z":"5f7389a8.973258","mydb":"959bd99c.c9dc58","sqlquery":"msg.topic","sql":"","name":"SQL_Everywhere","x":1750,"y":180,"wires":[["ef6746e2.78ec48","b227f8ed.8e8d18"]]},{"id":"ef6746e2.78ec48","type":"function","z":"5f7389a8.973258","name":"Build output","func":"let output = {\n    topic: msg.id,\n    payload: []\n}\n\nuserID = msg.id.substring(6, msg.id.indexOf(\"/request\"));\n\noutput.topic = \"users/\";\noutput.topic += userID;\noutput.topic += \"/response\";\n\nif (msg.checkedEverywhere)\n    for(var i = 0; i < msg.payload.length; i++){\n        output.payload.push(msg.payload[i].ID);\n    }\nelse\n    output.payload.push(msg.out.ID);\n\nreturn output;","outputs":1,"noerr":0,"x":1950,"y":180,"wires":[["9c535557.b8def8","bbcf5b7e.d91a78"]]},{"id":"b227f8ed.8e8d18","type":"debug","z":"5f7389a8.973258","name":"debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1910,"y":100,"wires":[]},{"id":"cc8a0d10.dd3dc","type":"debug","z":"5f7389a8.973258","name":"Debug2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1380,"y":100,"wires":[]},{"id":"cb01ad34.dc7e4","type":"sqlite","z":"5f7389a8.973258","mydb":"959bd99c.c9dc58","sqlquery":"msg.topic","sql":"","name":"SQL","x":1030,"y":480,"wires":[["ecae5280.96de8","1fb157e0.2babd8"]]},{"id":"ecae5280.96de8","type":"debug","z":"5f7389a8.973258","name":"Part. Query Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":560,"wires":[]},{"id":"1fb157e0.2babd8","type":"function","z":"5f7389a8.973258","name":"Add","func":"var resID = msg.ResID;\nvar participant = msg.Participant;\n\nvar query = \"\";\nvar inserted = false;\n\nif (msg.payload.length == 0) {\n    query += \"INSERT INTO Participants (res_ID, participant_NAME)\";\n    query += \" VALUES (\";\n    query += resID;\n    query += \", '\";\n    query += participant;\n    query += \"')\";\n    \n    inserted = true;\n}\nelse {\n    query += \"SELECT ID FROM Participants WHERE ID = 1\";\n}\n\nvar obj = {\n    topic: query,\n    id: \"users/\" + \n    msg.msg_topic.substring(\n        6, msg.msg_topic.indexOf(\"/request\")\n        ) + \"/response\",\n    isInserted: inserted\n}\n\nreturn obj;","outputs":1,"noerr":0,"x":1170,"y":480,"wires":[["e7fefd72.be093","2058fe45.228852"]]},{"id":"2058fe45.228852","type":"debug","z":"5f7389a8.973258","name":"Add Out Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1400,"y":560,"wires":[]},{"id":"e7fefd72.be093","type":"sqlite","z":"5f7389a8.973258","mydb":"959bd99c.c9dc58","sqlquery":"msg.topic","sql":"","name":"SQL_Add","x":1320,"y":480,"wires":[["2058fe45.228852","32a1993f.a6dc16"]]},{"id":"32a1993f.a6dc16","type":"function","z":"5f7389a8.973258","name":"Output","func":"var obj = {\n    topic: msg.id,\n    payload: msg.isInserted\n}\n\nreturn obj;","outputs":1,"noerr":0,"x":1470,"y":480,"wires":[["ab92d580.8fdf68","bbcf5b7e.d91a78"]]},{"id":"ab92d580.8fdf68","type":"debug","z":"5f7389a8.973258","name":"Debug Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1630,"y":560,"wires":[]}]